/*  Document CSS3 amb estils Flex-box
Tutorials de Yotube consultats:
    https://www.youtube.com/watch?v=QFXSgGg-HWo (Aprende CSS Flexbox en 15 Minutos)

*/

#title2 { margin-top: 20px; }

.box01 {
    border: solid thin #2E86C1;
    overflow: hidden;
    /* display: block;
    float: left; */
    margin: 4px 8px 4px 0px;
}

.contentflox {
    display: flex;
}
.galeria-felx-box-01, .galeria-felx-box-02 {
    margin: 0 auto;
    /* width: max-content;  */
}

.galeria-felx-box-01 {
    flex-direction: row;
}

.galeria-felx-box-02 {
    flex-direction: row-reverse;
}

.galeria-felx-box-03 .boxs01 {
    flex-direction: column;
}

.galeria-felx-box-04 .boxs01 {
    flex-direction: column-reverse;
}

.box01 {
    height: 150px;
    width: 150px;
}

.galeria-felx-box-03 .box01 {
    height: 150px;
}

.box02 {
    display: flex;
    flex-direction: column;
}

.box02 .box01 {
    height: 20px;
    /* width: 25%; */
}