

/*MEDIA QUERIES*/

.galeria { width: 1600px; }

@media screen and (max-width: 1760px) { /*	9	*/ 
	.galeria { width: 1440px; }
}
@media screen and (max-width: 1600px) { /*	8	*/ 
	.galeria { width: 1280px; }
}
@media screen and (max-width: 1440px) { /*	7	*/ 
	.galeria { width: 1120px; }
}
@media screen and (max-width: 1280px) { /*	6	*/ 
	.galeria { width: 960px; }
}
@media screen and (max-width: 1120px) { /*	5	*/ 
	.galeria { width: 800px; }
}
@media screen and (max-width: 960px) { /*	4	*/ 
	.galeria { width: 640px; }
}
@media screen and (max-width: 800px) { /*	5	*/ 
	.galeria { width: 480px; }
}
@media screen and (max-width: 640px) { /*	5	*/ 
	.galeria { width: 320px; }
}
@media screen and (max-width: 480px) { /*	5	*/ 
	.galeria { width: 160px; }
}